// ----------------------------------------------------------------------------
// Card Video
// ----------------------------------------------------------------------------

@use '../config' as *;
@use '../mixin/' as mix;

.card-video {
  overflow: hidden;
  position: relative;
  margin-right: auto;
  margin-left: auto;

  &::before {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: calc((9 / 16) * 100%);
  }

  &:hover {
    cursor: pointer;

    .play-circle-white {
      stroke-opacity: 1;
    }

    .play-circle-blue {
      stroke-dasharray: 300;
      stroke-dashoffset: 300;
    }
    
    .play-triangle {
      fill: var(--primary-color);
    }

    .card-video__placeholder {
      filter: brightness(55%);
    }
  }

  @media (min-width: $sm) {
    max-width: 70vw;
  }

  @media (min-width: 1920px) {
    @include mix.rem(max-width, 1640px);
  }
}

.card-video__placeholder {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.icon-play {
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  // max-width: 6.5rem;
  @include mix.rem(max-width, 65px);
  transform: translate(-50%, -50%);
  
  @media (min-width: $sm) {
    // max-width: 8.5rem;
    @include mix.rem(max-width, 85px);
  }

  @media (min-width: $md) {
    // max-width: 10rem;
    @include mix.rem(max-width, 100px);
  }

  @media (min-width: $lg) {
    // max-width: 13.5rem;
    @include mix.rem(max-width, 135px);
  }

  @media (min-width: $xl) {
    // max-width: 19.8rem;
    @include mix.rem(max-width, 198px);
  }
  
  @media (min-width: 2880px) {
    // max-width: 28rem;
    @include mix.rem(max-width, 280px);
  }

  .play-circle-white,
  .play-circle-blue {
    stroke-dasharray: 300;
    stroke-dashoffset: 0;
    stroke-width: 1;
    transition: all 1s ease-out;
  }

  .play-triangle {
    transition: all 0.7s ease-in;
  }
}
